<%- include("../partials/head") %>
<link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>



    <h1>Main page</h1>




    <script src="/js/register.js"></script>
</body>
</html>